# --- Python Basics ---
__pycache__/
*.pyc
.cache
.venv/
.env

# --- Jupyter Notebooks ---
*.ipynb

# Data and generated outputs
data/*.csv
data/*.xlsx
outputs/*.json
outputs/*.csv
outputs/*.png

# --- Mac OS junk ---
.DS_Store

# Ignore docs and htmls and ppts and pdfs
*.html
*.docx
*.pptx
*.pdf
